// Rc file for Win32 STk

VS_VERSION_INFO VERSIONINFO
 FILEVERSION	3,1
 PRODUCTVERSION	3,1
 FILEFLAGSMASK	0x3fL
 FILEFLAGS	0x0L
 FILEOS		0x4L
 FILETYPE	0x1L
 FILESUBTYPE	0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
	BLOCK "040904b0"
	BEGIN
	    VALUE "FileDescription", "STk Application\0"
	    VALUE "OriginalFilename", "stk.exe\0"
	    VALUE "CompanyName", "I3S / CNRS - ESSI\0"
	    VALUE "FileVersion", "3.1"
	    VALUE "LegalCopyright", "Copyright \251 1996\0"
	    VALUE "ProductName", "STk 3.1 for Windows\0"
	    VALUE "ProductVersion", "3.1"
	END
    END
    BLOCK "VarFileInfo"
    BEGIN
	VALUE "Translation", 0x409, 1200
    END
END

//
// Icon
//

STk ICON "stk.ico"
//
// Cursor
//

X_cursor                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor00.cur"
arrow                   CURSOR  DISCARDABLE     "../Tk/win/rc/cursor02.cur"
based_arrow_down        CURSOR  DISCARDABLE     "../Tk/win/rc/cursor04.cur"
based_arrow_up          CURSOR  DISCARDABLE     "../Tk/win/rc/cursor06.cur"
boat                    CURSOR  DISCARDABLE     "../Tk/win/rc/cursor08.cur"
bogosity                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor0a.cur"
bottom_left_corner      CURSOR  DISCARDABLE     "../Tk/win/rc/cursor0c.cur"
bottom_right_corner     CURSOR  DISCARDABLE     "../Tk/win/rc/cursor0e.cur"
bottom_side             CURSOR  DISCARDABLE     "../Tk/win/rc/cursor10.cur"
bottom_tee              CURSOR  DISCARDABLE     "../Tk/win/rc/cursor12.cur"
box_spiral              CURSOR  DISCARDABLE     "../Tk/win/rc/cursor14.cur"
center_ptr              CURSOR  DISCARDABLE     "../Tk/win/rc/cursor16.cur"
circle                  CURSOR  DISCARDABLE     "../Tk/win/rc/cursor18.cur"
clock                   CURSOR  DISCARDABLE     "../Tk/win/rc/cursor1a.cur"
coffee_mug              CURSOR  DISCARDABLE     "../Tk/win/rc/cursor1c.cur"
cross                   CURSOR  DISCARDABLE     "../Tk/win/rc/cursor1e.cur"
cross_reverse           CURSOR  DISCARDABLE     "../Tk/win/rc/cursor20.cur"
crosshair               CURSOR  DISCARDABLE     "../Tk/win/rc/cursor22.cur"
diamond_cross           CURSOR  DISCARDABLE     "../Tk/win/rc/cursor24.cur"
dot                     CURSOR  DISCARDABLE     "../Tk/win/rc/cursor26.cur"
dotbox                  CURSOR  DISCARDABLE     "../Tk/win/rc/cursor28.cur"
double_arrow            CURSOR  DISCARDABLE     "../Tk/win/rc/cursor2a.cur"
draft_large             CURSOR  DISCARDABLE     "../Tk/win/rc/cursor2c.cur"
draft_small             CURSOR  DISCARDABLE     "../Tk/win/rc/cursor2e.cur"
draped_box              CURSOR  DISCARDABLE     "../Tk/win/rc/cursor30.cur"
exchange                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor32.cur"
fleur                   CURSOR  DISCARDABLE     "../Tk/win/rc/cursor34.cur"
gobbler                 CURSOR  DISCARDABLE     "../Tk/win/rc/cursor36.cur"
gumby                   CURSOR  DISCARDABLE     "../Tk/win/rc/cursor38.cur"
hand1                   CURSOR  DISCARDABLE     "../Tk/win/rc/cursor3a.cur"
hand2                   CURSOR  DISCARDABLE     "../Tk/win/rc/cursor3c.cur"
heart                   CURSOR  DISCARDABLE     "../Tk/win/rc/cursor3e.cur"
icon                    CURSOR  DISCARDABLE     "../Tk/win/rc/cursor40.cur"
iron_cross              CURSOR  DISCARDABLE     "../Tk/win/rc/cursor42.cur"
left_ptr                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor44.cur"
left_side               CURSOR  DISCARDABLE     "../Tk/win/rc/cursor46.cur"
left_tee                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor48.cur"
leftbutton              CURSOR  DISCARDABLE     "../Tk/win/rc/cursor4a.cur"
ll_angle                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor4c.cur"
lr_angle                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor4e.cur"
man                     CURSOR  DISCARDABLE     "../Tk/win/rc/cursor50.cur"
middlebutton            CURSOR  DISCARDABLE     "../Tk/win/rc/cursor52.cur"
mouse                   CURSOR  DISCARDABLE     "../Tk/win/rc/cursor54.cur"
pencil                  CURSOR  DISCARDABLE     "../Tk/win/rc/cursor56.cur"
pirate                  CURSOR  DISCARDABLE     "../Tk/win/rc/cursor58.cur"
plus                    CURSOR  DISCARDABLE     "../Tk/win/rc/cursor5a.cur"
question_arrow          CURSOR  DISCARDABLE     "../Tk/win/rc/cursor5c.cur"
right_ptr               CURSOR  DISCARDABLE     "../Tk/win/rc/cursor5e.cur"
right_side              CURSOR  DISCARDABLE     "../Tk/win/rc/cursor60.cur"
right_tee               CURSOR  DISCARDABLE     "../Tk/win/rc/cursor62.cur"
rightbutton             CURSOR  DISCARDABLE     "../Tk/win/rc/cursor64.cur"
rtl_logo                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor66.cur"
sailboat                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor68.cur"
sb_down_arrow           CURSOR  DISCARDABLE     "../Tk/win/rc/cursor6a.cur"
sb_h_double_arrow       CURSOR  DISCARDABLE     "../Tk/win/rc/cursor6c.cur"
sb_left_arrow           CURSOR  DISCARDABLE     "../Tk/win/rc/cursor6e.cur"
sb_right_arrow          CURSOR  DISCARDABLE     "../Tk/win/rc/cursor70.cur"
sb_up_arrow             CURSOR  DISCARDABLE     "../Tk/win/rc/cursor72.cur"
sb_v_double_arrow       CURSOR  DISCARDABLE     "../Tk/win/rc/cursor74.cur"
shuttle                 CURSOR  DISCARDABLE     "../Tk/win/rc/cursor76.cur"
sizing                  CURSOR  DISCARDABLE     "../Tk/win/rc/cursor78.cur"
spider                  CURSOR  DISCARDABLE     "../Tk/win/rc/cursor7a.cur"
spraycan                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor7c.cur"
star                    CURSOR  DISCARDABLE     "../Tk/win/rc/cursor7e.cur"
target                  CURSOR  DISCARDABLE     "../Tk/win/rc/cursor80.cur"
tcross                  CURSOR  DISCARDABLE     "../Tk/win/rc/cursor82.cur"
top_left_arrow          CURSOR  DISCARDABLE     "../Tk/win/rc/cursor84.cur"
top_left_corner         CURSOR  DISCARDABLE     "../Tk/win/rc/cursor86.cur"
top_right_corner        CURSOR  DISCARDABLE     "../Tk/win/rc/cursor88.cur"
top_side                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor8a.cur"
top_tee                 CURSOR  DISCARDABLE     "../Tk/win/rc/cursor8c.cur"
trek                    CURSOR  DISCARDABLE     "../Tk/win/rc/cursor8e.cur"
ul_angle                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor90.cur"
umbrella                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor92.cur"
ur_angle                CURSOR  DISCARDABLE     "../Tk/win/rc/cursor94.cur"
watch                   CURSOR  DISCARDABLE     "../Tk/win/rc/cursor96.cur"
xterm                   CURSOR  DISCARDABLE     "../Tk/win/rc/cursor98.cur"

